.vscode/**
.vscode-test/**
src/**
webview/**
.gitignore
.yarnrc
webpack.config.js
tsconfig.json
tsconfig.webview.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
node_modules/**
.github/**
